* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

#jumbo-land {
  height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
/*  border-image-repeat: none; */
  padding-top: 20%;
  color: black;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Pacifico', cursive; */
  border-radius: 0;  /*  to remove rounded corners of jumbotron */
}
#jumbotron h1 {
  color: #333;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Pacifico', cursive; */
}

#jumbotron btn {
  color: black;
}

#jumbtron-section {
  
  /*font-family: 'Permanent Marker', cursive;*/
}


.jumbotron hr {
  background-color: #fff; /* white */
}

.btn a{
  text-decoration: none;
  color: white;
}
.btn {
/*  background-color: black;*/
  display: block;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  border-color: yellow;
  opacity: 50%;
}
/* end landing page */

/* home page */

#jumbo-div{
  color: white; 

  background-image: url("../images/landing.jpg");
  /*background-image: url("../images/video1");*/
  background-size: cover;
  background-repeat: no-repeat;
  /*font-family: 'Kaushan Script', cursive;*/
  
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
    }

.bg-primary {
  transition: 1s;

}

#nav-port {
  background-color: rgb(244, 191, 66, .70);
  background: radial-gradient(#f79c2d,#f4bf42);
  background: -webkit-radial-gradient(#f79c2d,#f4bf42);
  background: -moz-radial-gradient(#f79c2d,#f4bf42);
 

}

.footer {
  background-color: rgb(244, 191, 66, .70);
   background: radial-gradient(#f79c2d,#f4bf42);
  background: -webkit-radial-gradient(#f79c2d,#f4bf42);
  background: -moz-radial-gradient(#f79c2d,#f4bf42);
}

#port-jumbo {
/*  border: 8px solid #000000;
  border-radius: 10px;*/
  width: 60%;
  padding: 8em 4em;
}


#jumbo-div h1 {
  color: #f2f2f2;
}

#portfolio {
  padding-top: 10vh;
  padding-bottom: 5vh;
}


 .gallery1{
        height: 250px;
        background: radial-gradient(#f7822e,#f4bf42);
        background: -webkit-radial-gradient(#f7822e,#f4bf42);
        background: -moz-radial-gradient(#f7822e,#f4bf42);
        color: #fff;
        position: relative;
        overflow:hidden;
        border-radius: 5px;
    }
    .gallery1 figure {
        position: absolute;
        text-align: center;
        padding: 19px;
        width: 100%;
        height: 100%;
    }
    .gallery1 img{
        height: 100%;
        width: 100%;
        position: absolute;
        transition: ease-in-out .5s;
        -webkit-transition: ease-in-out .5s;
        -moz-transition: ease-in-out .5s;
    }
    .gallery1:hover img{
        transform: scale(3);
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        opacity: 0;
    }

#about {
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.card {
  height: 450px;
}
.card:hover{
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    box-shadow: 0 0 50px #ccc;
  }

.card img {
  height: 250px;
}
.me img {
  position: relative;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*padding-bottom: 100%;
  overflow: hidden;*/
  border-radius:50%;
}
.logo img {
  position: relative;
  height: 80px;
}

.price {
  background: radial-gradient(#f79c2d,#f4bf42);
}

/* mobile */
@media only screen and (max-width: 400px) {
  #port-jumbo {
    width: 100%;
    margin-top: 10vh;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .list-group{
    text-align: center;
    position: absolute;
  }
  #jumbo-div{
  color: white; 

  background-image: url("../images/landing.jpg");
  /*background-image: url("../images/video1");*/
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  /*font-family: 'Kaushan Script', cursive;*/
  
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
    }
}
/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #jumbo-div, #portfolio, #about {
    height: 100%;
  }
  #jumbo-div{
  color: white; 

  background-image: url("../images/landing.jpg");
  /*background-image: url("../images/video1");*/
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  /*font-family: 'Kaushan Script', cursive;*/
  
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
  height: auto;
  width: auto;
    }
}
/* desktop */

/*# sourceMappingURL=style.css.map */
